body{
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}

h2{
    color: rgb(73, 73, 73);
}

 p{
    color: rgb(83, 81, 81);
    font-weight: normal;
 }
 hr{
     background-color: teal;
     border: 1px solid;
     width: 4%;
 }

/*nav bar*/

.navbar{
    height: 3.5rem;
}
.navbar img{
    height: 3rem;
}

.nav-item{
    padding: 0 10px;
} 

.nav-link{
    color: white !important;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}
.nav-home{
    color: teal !important;
}

.nav-link:hover{
    color: teal !important;
}

/*title*/

.title-text{
    font-family: 'Cairo', sans-serif;
    color: white;
    position: absolute;
    top: 30%;
    left: 28%;
    text-align: center;
}

carousel-inner img{
    height: 100vh;
}

.big-heading{
    font-size: 5rem;
    padding: 10px 0;
}
.sub-heading{
    font-size: 2rem;
    font-family: 'Cairo-light-300', sans-serif;
    padding-bottom: 20px;
}

/*courses*/
.course-text{
    background-color: white;
    text-align: center;
    padding: 5% 10%;
    font-family: 'Cairo-light-300', sans-serif;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    color: rgb(73, 73, 73);;
}

.courses-button{
    margin: 20px 0;
}

.port{
    background-color: rgb(230, 228, 228);
    text-align: center;
    padding: 40px 0;
}
.port img{
    max-width: 100%;
    transition:transform 0.5s ease;
}
.row.no-padding [class*=col-]{
    padding: 0;
}
.portfolio{
overflow: hidden;
}

.port img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}

.port-container{
    margin: 40px 0;
}

/*team*/
#team{
    background-color: white;
    text-align: center;
    padding: 5% 0;
    font-family: 'Cairo-light-300', sans-serif;
    
}

.card{
    margin: 2rem auto;
    padding: 0 !important;
}


/*contact*/
#contact{
    background-color: rgb(77, 76, 76);
    text-align: center;
    color: white;
    font-family: 'Cairo-light-300', sans-serif;
}
#contact p{
    color: white;
}

.footer{
    padding: 20px 0;
    width: 30%;
    margin: 0 auto;
    line-height: 1.5;
}

#contact hr{
    border: 1px solid grey;
    width: 100%;
    height: 0.1rem;
    background-color: grey;
    
}
.logo{
    margin: 20px 0;
}
.social-icon{
    padding: 20px 5px 0 0;
    color: white;
}
.social-icon:hover{
    cursor: pointer;
    color: teal;
}

@media (max-width:767px){
    .title-text{
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
    }
    .big-heading{
        font-size: 2.3rem;
    }
    .sub-heading{
        font-size: 1.2rem;
    }
    .course-text h2{
        font-size: 1.5rem;
    }
    .course-text p{
        font-size: 0.9rem;
    }
    .course-text{
        width: 80%;
    }
    .footer{
        width: 70%;
    }
}
